<%= provide :title, "About" %>
<html>
  <head>
    <title><%= yield(:title) %> | Course Registration System </title>
  </head>
  <body>
    <h1>ABOUT </h1>
    <h2>Company History</h2>
    <p>This company is established by Mangkuk Hayun.Sdn.Bhd</p>
  </body>
</html>
