<%= provide :title, "Help" %>
<html>
  <head>
    <title><%= yield(:title) %> | Course Registration System </title>
  </head>
  <body>
    <h1>Frequently Asked Question (FAQ)</h1>
    <p>Coming soon... </p>
  </body>
</html>
