<%= provide :title, "Home" %>
<html>
  <head>
    <title><%= yield(:title) %> | Course Registration System </title>
  </head>
  <body>
    <h1>Welcome to Course Registration System</h1>
    <p>This is Home Page for Course Registration System</p>
  </body>
</html>
